@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.header{
    height: 100vh;
    width: 100vw;
    gap: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#582C7F, #385A92);
    text-align: center;
}

.header h2{
    color: white;
    font-weight: 900;
    font-size: 4em;
}
.header h2 span{
    color: #FDE047;
}

.header h3{
    color: white;
    padding-bottom: 1.5em;
}

.header button{
    overflow-x: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
    width: 263px;
    height: 48px;
    background-color: #FACC15;
    border-color: transparent;
    border-radius: 15px;
}

.info .header-info{
    padding-top: 2em;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: top;
    background: white;
    text-align: center;
}

.info .header-info h3{
    background: linear-gradient(to right,#af3ccc, #4672b9);
    background-size: cover;
    font-size: 3.5em;
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-info h5{
    color: #71717A;
    font-size: 1.3em;
    font-weight: 400;
}

.carrusel-info{
    margin-left: 4.5vw;
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100vw;
}

.carta-info{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    gap: 1em;
    width: 25em;
    height: 15em;
    padding: 20px;
    background: linear-gradient(to right, #f4f2ff, #e7ebff);
    border-radius: 20px;
    border-color: #eedeff;
    border-width: 1px;
    border-style: solid;
}

.carta-info h4{
    margin-left: 5px;
    font-size: 1.2em;
    font-weight: 600;
}

.carta-info p{
    margin-left: 5px;
    color: #71717A;
}

.carta-info a{
    margin-left: 5px;
    color: #9333ea;
    text-decoration: none;
    transition: 0.3s;
}

.carta-info a:hover{
    text-decoration: underline;
}

.carta-info:nth-of-type(2) {
    background: linear-gradient(to right, #e6f7ff, #d8f9fe); 
    border-color: #c6dffe;
}

.carta-info:nth-of-type(2) a {
    color: #2563eb;
}

.carta-info:nth-of-type(3) {
    background: linear-gradient(to right, #fffbe2, #fefacd); 
    border-color: #fde68a;
}

.carta-info:nth-of-type(3) a {
    color: #db7706;
}
