<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <main>
        <div class="header-container">
            <h1>Book Hunt</h1>
        </div>
        <div class="buscador">
            <form action="/" method="POST">
                <input type="text" name="isbn_libro" placeholder="Buscar por ISBN" />
                <button type="submit">Buscar</button>
            </form>
        </div>

        <div class="book-container">
            {% if libros %}
                {% for libro in libros %}
                    <a href="{{ libro.enlace }}" class="book-card-link">
                        <div class="book-card">
                            <h3>{{ libro.nombre }}</h3>
                            <p><strong>Tienda:</strong> {{ libro.tienda }}</p>
                            <p><strong>Precio:</strong> {{ libro.precio }} €</p>
                            <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
                            <p class="shipping"><strong>Gastos de Envío:</strong> {{ libro.gastos_envio }} €</p>
                            <p class="total"><strong>Total:</strong> {{ libro.total }} €</p>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>No se encontraron libros con ese ISBN.</p>
            {% endif %}
        </div>
    </main>

</body>
</html>
